<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

it "should have the right title" do
 visit '/static_pages/home'
 page.should have_selector('title',
      :text => "Ruby on Rails Tutorial Sample App | Home")
end